
@media (prefers-color-scheme: dark) {
  h2 {
    margin: .5em;
    padding: 0;
    /* text-shadow: 1px 1px 4px #000; */
  }

  h2:hover {
    color: #5bb;
    text-shadow: 4px 4px 8px #0004;
  }

  #timer-container {
    background-color: #0003;
    width: 900px;
    min-width: 600px;
    max-width: 50%;
    min-height: 10em;
    max-height: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px #000;
  }

  .timer {
    align-self: center;
    font-family: system-ui;
    color: cadetblue;
    cursor: default;
    user-select: none;
    font-size: 4em;
    transition: font-size 200ms;
  }

  button {
    color: #222;
    font-size: 2em;
    border-radius: 0;
    background-color: #666;
    padding: .25em .5em;
    opacity: 1;
    transition: opacity 200ms color 200ms margin 200ms box-shadow 1000ms;
    box-shadow: 4px 4px 4px #0006;
  }

  button:hover {
    margin: 0;
    color: #bbb;
    background-color: #555;
    /* text-shadow: 0px 0px 2px #fff5; */
    box-shadow: 8px 8px 8px #0006;
  }

  .timer.shrink:hover {
    color: #5bb;
    text-shadow: 4px 4px 8px #0006;
  }

  .timer.enlarge:hover {
    color: #5bb;
    text-shadow: 8px 8px 8px #0006;
  }

  button.hide {
    color: #0000;
    opacity: 0;
  }

  button.show {
    color: #333;
    opacity: 1;
  }

  .enlarge {
    text-shadow: 12px 12px 8px #0006;
    font-size: 8em;
  }

  .shrink {
    text-shadow: 2px 2px 2px #0006;
    font-size: 6em;
  }
}